.nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: rgb(230, 195, 40);
    padding: 10px;
    border-radius:8%;
    box-shadow: 7px 7px 4px 5px #888888;
    background-image: linear-gradient(rgb(250, 234, 12), rgb(255, 230, 0), rgb(243, 228, 11));
    
  }
  
.grid {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 6px;
    background-color: papayawhip;
    text-align: center;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(219, 235, 232), rgb(176, 217, 224));
  }
  